*pro.user


**/.vs/
.vscode/
build/
config.tests/*/.qmake.stash
config.tests/*/Makefile

# In-tree qmake builds
.qmake.cache
.qmake.stash
Makefile
Makefile.Debug
Makefile.Release
**/Makefile
**/Makefile.Debug
**/Makefile.Release
config.log
config.tests/*/main.o
config.tests/EGL/EGL
app/moonlight
app/release/
app/debug/
h264bitstream/libh264bitstream.a
h264bitstream/release/
moonlight-common-c/libmoonlight-common-c.a
moonlight-common-c/release/
qmdnsengine/libqmdnsengine.a
qmdnsengine/release/
soundio/release/
*.a
*.o
